body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.container{
    width: 70vw;
    margin: 50px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    border: 1px solid black;
    padding:1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.imgCont{
    height: 200px;
    width:400px;
    border: black 1px solid;
    display: none;
}
.imgCont img{
    width:100%;
    height: 100%;
}
.imgCont.active{
display: block;
}
.li{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16pt;
    display: block;
    margin-top:0.5em;
    margin-left:0.5em;
    border:1px solid black;
    padding:0.5em;
    cursor: pointer;
}
.li.active{
    background:coral;
}